/*
MEDIA QUERY FOR RESPONSIVE

0 - 600px:       Phone
600 - 900px:     Tablet portrait
900 - 1200px:    Table landscape
1200 - 1800:     Normal styles for desktop
1800px+          Big desktops

Breakpoint argument choices:
xs, sm, md, lg, xl

ORDER: Base > Typography > General layout (header, footer, nav other stuff) > Grid > Page layout > Components

1em = 16px default browser.

only screen means that responsive will not apply when the page is printed.
*/
html {
  font-size: 62.5%; }
  @media only screen and (max-width: 62em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 36em) {
    html {
      font-size: 43.75%; } }

body {
  box-sizing: border-box; }

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  font-size: 11rem;
  font-weight: 600;
  color: #fff;
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 62em) {
    .heading-primary {
      font-size: 10rem; } }
  @media only screen and (max-width: 48em) {
    .heading-primary {
      font-size: 9rem; } }
  @media only screen and (max-width: 36em) {
    .heading-primary {
      font-size: 7rem; } }

.heading-secondary {
  font-size: 4.8rem;
  font-weight: 600;
  text-transform: uppercase; }
  .heading-secondary--white {
    color: #fff; }
  .heading-secondary--blue {
    color: #1f7794; }
  @media only screen and (max-width: 62em) {
    .heading-secondary {
      font-size: 3.8rem; } }
  @media only screen and (max-width: 48em) {
    .heading-secondary {
      font-size: 2.8rem; } }
  @media only screen and (max-width: 36em) {
    .heading-secondary {
      font-size: 2.3rem; } }

.heading-tertiary {
  font-size: 3.6rem;
  font-weight: 500;
  color: #1f7794;
  text-transform: uppercase; }
  @media only screen and (max-width: 62em) {
    .heading-tertiary {
      font-size: 3rem; } }
  @media only screen and (max-width: 48em) {
    .heading-tertiary {
      font-size: 2.6rem; } }
  @media only screen and (max-width: 36em) {
    .heading-tertiary {
      font-size: 2.4rem; } }

.heading-quaternary {
  font-size: 1.6rem;
  font-weight: 600;
  color: #1f7794;
  text-transform: uppercase; }

.heading-special {
  color: #fff;
  font-size: 4.8rem;
  line-height: 1.2;
  margin: 0 auto;
  position: relative;
  text-align: center; }
  .heading-special span:nth-child(1) {
    font-size: 3.6rem; }
    .heading-special span:nth-child(1)::after {
      content: '\A';
      white-space: pre; }
    @media only screen and (max-width: 62em) {
      .heading-special span:nth-child(1) {
        font-size: 3.2rem; } }
    @media only screen and (max-width: 48em) {
      .heading-special span:nth-child(1) {
        font-size: 2.8rem; } }
    @media only screen and (max-width: 36em) {
      .heading-special span:nth-child(1) {
        font-size: 2.5rem; } }
  .heading-special span:nth-child(2) {
    font-size: 3rem;
    font-weight: 400;
    position: absolute;
    bottom: -3rem;
    right: 0; }
    @media only screen and (max-width: 62em) {
      .heading-special span:nth-child(2) {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 48em) {
      .heading-special span:nth-child(2) {
        font-size: 2.2rem;
        bottom: -1.8rem; } }
    @media only screen and (max-width: 36em) {
      .heading-special span:nth-child(2) {
        font-size: 1.8rem;
        bottom: -1.5rem; } }
  @media only screen and (max-width: 62em) {
    .heading-special {
      font-size: 4.2rem; } }
  @media only screen and (max-width: 48em) {
    .heading-special {
      font-size: 3.8rem; } }
  @media only screen and (max-width: 36em) {
    .heading-special {
      font-size: 3.5rem; } }

.align-start {
  align-self: flex-start; }

.align-center {
  align-self: center; }

.align-end {
  align-self: flex-end; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.ml-1 {
  margin-left: 1rem; }

.ml-2 {
  margin-left: 2rem; }

.ml-3 {
  margin-left: 3rem; }

.ml-4 {
  margin-left: 4rem; }

.ml-5 {
  margin-left: 5rem; }

.m-0-auto {
  margin: 0 auto; }

.agent {
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  @media only screen and (max-width: 36em) {
    .agent {
      flex-direction: column; } }
  .agent__container {
    height: 5rem;
    margin-bottom: 2rem;
    flex: 0 0 20%; }
  .agent__link {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .agent__img {
    height: 100%;
    width: auto;
    transition: filter .3s;
    filter: grayscale(100%); }
    .agent__img:hover {
      filter: grayscale(0%); }

.btn-lg {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 1.5rem 4.5rem;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  z-index: 1; }
  .btn-lg:focus {
    outline: none; }
  .btn-lg:link, .btn-lg:visited {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 1.5rem 4.5rem;
    white-space: nowrap; }
  .btn-lg--white {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    transition: all .5s; }
    .btn-lg--white:hover {
      background-color: #1f7794; }
  .btn-lg:not(:last-child) {
    margin-right: 2rem; }

.btn-sm {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: .8rem 5rem;
  white-space: nowrap;
  cursor: pointer; }
  .btn-sm:focus {
    outline: none; }
  .btn-sm:link, .btn-sm:visited {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: .8rem 5rem;
    white-space: nowrap; }
  .btn-sm--blue {
    color: #1f7794;
    background-color: transparent;
    border: 2px solid #1f7794;
    transition: all .3s; }
    .btn-sm--blue:hover {
      color: #fff;
      background-color: #1f7794; }
  .btn-sm--white {
    color: #1f7794;
    background-color: #fff;
    border: 2px solid #fff;
    transition: all .3s; }
    .btn-sm--white:hover {
      color: #1f7794;
      background-color: transparent;
      border: 2px solid #1f7794; }
  .btn-sm--blue-2 {
    color: #fff;
    background-color: #1f7794;
    border: 2px solid #1f7794;
    transition: all .3s; }
    .btn-sm--blue-2:hover {
      color: #1f7794;
      background-color: #fff; }
  .btn-sm--white-2 {
    color: #1f7794;
    background-color: #fff;
    border: 2px solid #1f7794;
    transition: all .3s; }
    .btn-sm--white-2:hover {
      color: #fff;
      background-color: #1f7794;
      border: 2px solid #1f7794; }

.btn-special {
  border: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #2c9dbe;
  display: inline-block;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: all .3s;
  transform: perspective(80rem);
  transform-style: preserve-3d;
  transform-origin: center; }
  .btn-special:focus {
    outline: none; }
  .btn-special:hover {
    transform: perspective(40rem) rotateX(20deg); }
  .btn-special:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f7794;
    transform: rotateX(-90deg);
    transform-origin: top; }
  .btn-special:last-child {
    margin-left: 2rem; }
  .btn-special--sm {
    font-size: 1.8rem;
    font-weight: 500;
    padding: .8rem 1.5rem; }
  .btn-special--lg {
    font-size: 2.4rem;
    padding: 1rem 2rem; }
    @media only screen and (max-width: 62em) {
      .btn-special--lg {
        font-size: 2rem; } }
    @media only screen and (max-width: 48em) {
      .btn-special--lg {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 36em) {
      .btn-special--lg {
        font-size: 1.4rem; } }

.flipper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .flipper__item {
    position: relative;
    perspective: 110rem;
    flex: 0 0 20%; }
    @media only screen and (max-width: 48em) {
      .flipper__item {
        flex: 0 0 33.3333%; } }
    @media only screen and (max-width: 36em) {
      .flipper__item {
        flex: 0 0 50%; } }
    .flipper__item:before {
      content: '';
      float: left;
      padding-top: 80%; }
  .flipper__item:hover .flipper__front {
    transform: rotateY(180deg); }
  .flipper__item:hover .flipper__back {
    transform: rotateY(0deg); }
  @media only screen and (max-width: 48em) {
    .flipper__item:hover .flipper__front {
      transform: rotateY(0deg); }
    .flipper__item:hover .flipper__back {
      transform: rotateY(0deg); } }
  .flipper__front, .flipper__back {
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    backface-visibility: hidden;
    transition: all .8s; }
  .flipper__front {
    transform: rotateY(0deg); }
  .flipper__img, .flipper__back-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .flipper__back {
    background-color: #2c9dbe;
    transform: rotateY(-180deg);
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 48em) {
      .flipper__back {
        top: auto;
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
        transform: rotate(0); } }
  .flipper__text {
    font-size: 3rem;
    text-align: center;
    color: #fff;
    position: relative; }
    @media only screen and (max-width: 48em) {
      .flipper__text {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 36em) {
      .flipper__text {
        font-size: 2rem; } }

.home-form {
  display: flex;
  flex-wrap: wrap; }
  .home-form__group {
    padding: 1rem;
    position: relative; }
    .home-form__group--50 {
      flex: 0 0 50%; }
    .home-form__group--100 {
      flex: 0 0 100%; }
  .home-form__label-wr {
    overflow: hidden;
    position: absolute;
    top: 1.8rem;
    left: 2.5rem; }
  .home-form__label {
    font-size: 1.4rem;
    font-weight: 600;
    color: #1f7794;
    display: block;
    transition: transform .2s;
    cursor: auto; }
  .home-form__text, .home-form__textarea {
    font-size: 1.4rem;
    font-family: inherit;
    font-weight: 600;
    color: #1f7794;
    background-color: #ebebeb;
    border: 1px solid #d7d7d7;
    width: 100%;
    padding: 1rem 1.5rem; }
    .home-form__text:focus, .home-form__textarea:focus {
      outline: none; }
  .home-form__hide-label {
    transform: translateX(-100%); }
  .home-form__textarea {
    resize: none; }

.stats {
  margin: 8rem auto;
  max-width: 120rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap; }
  @media only screen and (max-width: 36em) {
    .stats {
      flex-direction: column; } }
  .stats__info {
    flex: 0 0 33.3333%; }
  .stats__count {
    font-size: 6rem;
    font-weight: 700;
    color: #fff;
    text-align: center; }
  .stats__label {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    text-align: center; }

.team {
  padding: 1rem;
  margin-bottom: 2rem;
  flex: 0 0 20%; }
  @media only screen and (max-width: 62em) {
    .team {
      flex: 0 0 25%; } }
  @media only screen and (max-width: 48em) {
    .team {
      flex: 0 0 33.3333%; } }
  @media only screen and (max-width: 36em) {
    .team {
      flex: 0 0 50%; } }
  .team__photo {
    height: 30rem;
    margin-bottom: 3rem; }
  .team__img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .team__name {
    font-size: 1.4rem;
    font-weight: 600;
    color: #1f7794;
    text-transform: uppercase;
    text-align: center; }
  .team__title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #1f7794;
    text-transform: capitalize;
    text-align: center; }

.footer {
  background-color: #363636;
  position: relative;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .footer {
      align-items: flex-end;
      padding: 0 1rem; } }
  .footer__social {
    margin: 2rem 0;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    @media only screen and (max-width: 75em) {
      .footer__social {
        width: 30%; } }
    @media only screen and (max-width: 62em) {
      .footer__social {
        width: 50%; } }
    @media only screen and (max-width: 48em) {
      .footer__social {
        font-size: 50%; } }
    .footer__social-link:visited, .footer__social-link:link {
      text-decoration: none;
      background-color: #1f7794;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      transition: all .2s;
      display: flex;
      justify-content: center;
      align-items: center; }
    .footer__social-link:hover {
      background-color: #fff; }
    .footer__social-link:hover .footer__social-icon {
      color: #1f7794; }
    .footer__social-icon {
      font-size: 2rem;
      color: #fff;
      transition: all .2s; }
  .footer__copyright {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff; }
    @media only screen and (max-width: 36em) {
      .footer__copyright {
        font-size: 1.2rem; } }
  .footer__triangle {
    background-color: #1f7794;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35rem;
    height: 35rem;
    clip-path: polygon(0 0, 0% 100%, 100% 100%); }
    @media only screen and (max-width: 75em) {
      .footer__triangle {
        width: 30rem;
        height: 30rem; } }
    @media only screen and (max-width: 62em) {
      .footer__triangle {
        width: 25rem;
        height: 25rem; } }
  .footer__line {
    width: 40rem;
    height: 1px;
    background-color: #1f7794;
    position: absolute;
    top: -22rem;
    left: 0;
    transform: rotate(45deg);
    transform-origin: left; }
    @media only screen and (max-width: 75em) {
      .footer__line {
        top: -16rem;
        width: 30rem; } }
    @media only screen and (max-width: 62em) {
      .footer__line {
        top: -11rem;
        width: 25rem; } }
  .footer__img {
    position: absolute;
    height: 80%;
    width: auto;
    top: 0;
    left: 3rem; }
    @media only screen and (max-width: 75em) {
      .footer__img {
        height: 70%;
        left: 2rem;
        top: 2rem; } }
    @media only screen and (max-width: 62em) {
      .footer__img {
        height: 60%;
        left: 1rem; } }

.header {
  min-height: 100vh;
  background-image: url("../img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  line-height: 1.4;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .header__triangle--1 {
    border: 40vh solid rgba(45, 160, 190, 0.5);
    border-right: 40vh solid transparent;
    border-bottom: 40vh solid transparent;
    position: absolute;
    top: 0;
    left: 0; }
    @media only screen and (max-width: 62em) {
      .header__triangle--1 {
        border: 30vh solid rgba(45, 160, 190, 0.5);
        border-right: 30vh solid transparent;
        border-bottom: 30vh solid transparent; } }
    @media only screen and (max-width: 48em) {
      .header__triangle--1 {
        border: 25vh solid rgba(45, 160, 190, 0.5);
        border-right: 25vh solid transparent;
        border-bottom: 25vh solid transparent; } }
    @media only screen and (max-width: 36em) {
      .header__triangle--1 {
        border: 20vh solid rgba(45, 160, 190, 0.5);
        border-right: 20vh solid transparent;
        border-bottom: 20vh solid transparent; } }
  .header__line--1 {
    background-color: rgba(45, 160, 190, 0.5);
    min-width: 60vh;
    min-height: 1px;
    position: absolute;
    top: 82vh;
    left: 0;
    transform: rotate(-45deg);
    transform-origin: left; }
    @media only screen and (max-width: 62em) {
      .header__line--1 {
        top: 62vh; } }
    @media only screen and (max-width: 48em) {
      .header__line--1 {
        top: 52vh;
        min-width: 50vh; } }
    @media only screen and (max-width: 36em) {
      .header__line--1 {
        top: 42vh;
        min-width: 40vh; } }
  .header__triangle--2 {
    border: 18vh solid #2c9dbe;
    border-top: 18vh solid transparent;
    border-left: 18vh solid transparent;
    position: absolute;
    bottom: 0;
    right: 0; }
  .header__line--2 {
    background-color: #2c9dbe;
    min-width: 50vh;
    min-height: 1px;
    position: absolute;
    bottom: 38vh;
    right: 0;
    transform: rotate(-45deg);
    transform-origin: right; }

.nav {
  background-color: rgba(45, 160, 190, 0.5);
  position: fixed;
  width: 100%;
  height: 8rem;
  z-index: 1000;
  display: flex;
  justify-content: flex-end; }
  .nav__logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 18%; }
    @media only screen and (max-width: 62em) {
      .nav__logo {
        width: 25%; } }
    @media only screen and (max-width: 36em) {
      .nav__logo {
        width: 40%; } }
  .nav__content {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    flex: 0 0 100%;
    position: relative; }
  .nav__button {
    height: 5rem;
    width: 5rem;
    border: 2px solid #fff;
    padding: 0 .5rem;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    display: none;
    align-items: center; }
    @media only screen and (max-width: 62em) {
      .nav__button {
        display: flex; } }
  .nav__icon {
    background-color: #fff;
    border-radius: 3px;
    height: 3px;
    position: relative;
    flex: 1; }
    .nav__icon:before, .nav__icon:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff; }
    .nav__icon:before {
      top: -1rem; }
    .nav__icon:after {
      top: 1rem; }
  .nav__details-list {
    list-style-type: none;
    margin-right: 4rem;
    display: flex; }
    @media only screen and (max-width: 62em) {
      .nav__details-list {
        display: none; } }
    .nav__details-list-item {
      font-size: 1.4rem;
      color: #fff; }
      .nav__details-list-item:not(:last-child) {
        margin-right: 3rem; }
  .nav__list {
    list-style-type: none;
    margin-right: 4rem;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 62em) {
      .nav__list {
        display: none; } }
    .nav__list-item:not(:last-child) {
      margin-right: 1rem; }
    .nav__list-item-link:link, .nav__list-item-link:visited {
      font-size: 1.2rem;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      padding: .5rem;
      position: relative;
      transition: color .2s; }
    .nav__list-item-link:after {
      content: '';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -1rem;
      left: 0;
      opacity: 0;
      transition: all .2s; }
    .nav__list-item-link:hover {
      color: #1f7794; }
    .nav__list-item-link:hover:after {
      bottom: -.3rem;
      background-color: #1f7794;
      opacity: 1; }

.chayan {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../img/h_section_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  position: relative;
  display: flex;
  justify-content: space-around; }
  @media only screen and (max-width: 62em) {
    .chayan {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 5rem; } }
  .chayan__img-wrap {
    margin-top: -6%;
    margin-bottom: -1.8%;
    flex: 0 0 25%; }
    @media only screen and (max-width: 62em) {
      .chayan__img-wrap {
        margin-top: 0;
        margin-bottom: 0;
        max-width: 25rem; } }
  .chayan__img {
    width: 100%;
    height: 100%; }
  .chayan__details {
    align-self: center;
    flex: 0 0 40%; }
    @media only screen and (max-width: 75em) {
      .chayan__details {
        flex: 0 0 60%; } }
  .chayan__quote {
    font-size: 1.4rem;
    font-weight: 500;
    color: #1f7794; }
  .chayan__more {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4rem; }
    @media only screen and (max-width: 62em) {
      .chayan__more {
        justify-content: center; } }
    @media only screen and (max-width: 36em) {
      .chayan__more {
        flex-direction: column; } }
  .chayan__signature {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 36em) {
      .chayan__signature {
        margin: 0;
        margin-bottom: 1rem;
        order: -1; } }
  .chayan__signature-img-wrap {
    flex: 0 0 100%; }
  .chayan__signature-img {
    width: 100%;
    height: 100%; }
  .chayan__title {
    color: #1f7794;
    font-size: 1.2rem;
    font-weight: 600; }

.welcome {
  background-image: url("../img/h_banner_3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex; }
  @media only screen and (max-width: 62em) {
    .welcome {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  @media only screen and (max-width: 48em) {
    .welcome {
      background-position: left; } }
  .welcome:before {
    content: '';
    float: left;
    padding-top: 30%; }
    @media only screen and (max-width: 62em) {
      .welcome:before {
        padding: 0; } }
  .welcome__heading {
    align-self: center;
    flex: 0 0 50%;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 62em) {
      .welcome__heading {
        padding: 4rem 0; } }
  .welcome__display {
    flex: 0 0 50%;
    position: relative;
    z-index: 1; }
    .welcome__display-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      @media only screen and (max-width: 62em) {
        .welcome__display-bg {
          position: relative;
          display: block; } }
  .welcome__tv-wrap {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%; }
    @media only screen and (max-width: 62em) {
      .welcome__tv-wrap {
        top: 1rem;
        left: 20%;
        right: 20%; } }
    @media only screen and (max-width: 36em) {
      .welcome__tv-wrap {
        left: 15%;
        right: 15%; } }
  .welcome__tv {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .welcome__tv-placeholder {
    position: absolute;
    top: 15%;
    left: 13%;
    right: 13%;
    bottom: 15%; }
    @media only screen and (max-width: 62em) {
      .welcome__tv-placeholder {
        top: 7%;
        left: 22%;
        right: 22%;
        bottom: 26%; } }
    @media only screen and (max-width: 36em) {
      .welcome__tv-placeholder {
        left: 17%;
        right: 17%;
        bottom: 12%; } }
  .welcome__tv-img {
    width: 100%;
    height: 100%;
    position: absolute; }
  .welcome__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1; }
  .welcome__triangle {
    border: 19vw solid #fff;
    border-top: 19vw solid transparent;
    border-left: 19vw solid transparent;
    position: absolute;
    right: 0;
    top: -10vw; }
    @media only screen and (max-width: 62em) {
      .welcome__triangle {
        border: 25vw solid #fff;
        border-top: 25vw solid transparent;
        border-left: 25vw solid transparent; } }
    @media only screen and (max-width: 48em) {
      .welcome__triangle {
        display: none; } }
  .welcome__triangle-line--1 {
    background-color: #1f7794;
    position: absolute;
    width: 40vw;
    height: 1px;
    top: -10vw;
    right: 0;
    transform: rotate(-45deg);
    transform-origin: right; }
    @media only screen and (max-width: 48em) {
      .welcome__triangle-line--1 {
        display: none; } }
  .welcome__triangle-line--2 {
    background-color: #1f7794;
    position: absolute;
    width: 10vw;
    height: 1px;
    top: -9vw;
    right: 0;
    transform: rotate(-45deg);
    transform-origin: right; }
    @media only screen and (max-width: 48em) {
      .welcome__triangle-line--2 {
        display: none; } }

.type {
  background-color: #1f7794;
  background-image: linear-gradient(60deg, transparent 0%, transparent 50%, #2c9dbe 50%), url("../img/banner_four_left.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex; }
  @media only screen and (max-width: 62em) {
    .type {
      flex-direction: column;
      background-image: none; } }
  .type__buyer {
    padding: 10rem 5rem;
    flex: 0 0 50%;
    display: flex;
    flex-direction: column; }
    .type__buyer-text {
      font-size: 2.4rem;
      color: #1f7794;
      letter-spacing: 1;
      width: 80%; }
    @media only screen and (max-width: 62em) {
      .type__buyer {
        background-image: url("../img/banner_four_left.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; } }
    @media only screen and (max-width: 36em) {
      .type__buyer {
        padding: 2rem; } }
  .type__seller {
    padding: 10rem 5rem;
    flex: 0 0 50%;
    display: flex;
    align-items: flex-end;
    flex-direction: column; }
    .type__seller-text {
      font-size: 2.4rem;
      color: #fff;
      letter-spacing: 1;
      width: 80%; }
    @media only screen and (max-width: 36em) {
      .type__seller {
        padding: 2rem; } }

.our-team {
  padding: 2rem 0; }
  .our-team__heading {
    max-width: 120rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    padding: 0 1rem; }
  .our-team__content {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap; }

.stats-section {
  background-image: url("../img/h_banner_6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5rem 0; }
  .stats-section__img {
    display: block;
    margin: 0 auto; }
  .stats-section__showcase {
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    color: #fff; }

.location-section {
  padding: 5rem 0;
  background-color: #fff; }

.agent-section {
  padding: 10rem 0;
  padding-top: 5rem; }
  .agent-section__title {
    font-size: 2.6rem;
    color: #1f7794;
    text-align: center;
    text-transform: uppercase; }

.contact-h {
  background-image: url("../img/h_nine_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .contact-h__content {
    padding: 6rem 0;
    max-width: 100rem;
    margin: 0 auto; }
