$color-primary: #2c9dbe;
$color-secondary: #1f7794;
$color-trans-blue: rgba(45, 160, 190, .5);
$color-trans-black: rgba(0, 0, 0, .5);
$color-gray-1: #ebebeb;
$gray-border: 1px solid #d7d7d7;
$dark-gray: #363636;